env:
  global:
    - secure: jjvw/PfrU5uAAuNvhrkp0793EsqWBxAJ8OJC/EMxFr65Le1aCffiNKkqiJDrFMu821QYBHYEE8lMDerT+G2OexjER9FLYfgH/niwSZDZO7h9pd1rx8gk2Cj4yj7qOikFrskNkEG1SSo4VjfHDGgbjF1UmRgz9QFEul63Hyr8y9I7tyfjFHvqRDZlxC7UHmVCDR8apsE6eympepdvGK+5xKnReyBspvV/bkVQVQ9CyCfxeUFgrjSBI6c5YpHN+kAlIcqym5HWX0KCkHuTNEOVdnNO5CxFkpr8xHGxsgA1dlX1XWNtBNlXY275l+fyT5fjIuvT+cnUNAuvLh3Q2SQ0H0b2sgqzZV6Ia3SJzvbvsxCfN3Yhv96QaGPu5tsqxysrhJmBeCXqMEtbRcOWAtGCP5zWIqY7d983C3Yw4EpHKh57/sJDapoEOKsyoLUP6zh0mDAND07TW6wGqShTNQQmYoRb8xi2U3SKRy1f83I1raXlpjvXfuNl0w+CvRRWRtsv6NYbzovDmequzij9khYoM0OoW8x4XVhsXIvBEWlfL1kKbyX4YwNKg83fsSvBwxZbr3da15fcHWKAj604Y8oqFrHaFKK8j53XDqSOVfeSkXwOXadDzqyELPqu6Z8i2arhANLpkOEXB881ZAoyyIxoVOtd5+gng4phFfY/6HLSP6Y=

language: python

python:
  - 3.6

install:
  - pip install coverage==4.3 pytest-cov
  - pip install codeclimate-test-reporter

before_script:
  - pip install -r requirements.txt

script:
  - pytest --cov=.

after_script:
  - codeclimate-test-reporter
