env:
  global:
    - secure: DyESYWuRNrrVcqYVCgCRsAeyQr/8DHbEjg6wRYfed3206X+MdTdyEQBeg5MO+e9JmdFxV4wciIFyW0bFwbXZt5wpKpVl8Qh6OJC2VVnM/2zlYdACQKOQkOlkI1XsV5gUzh8DyemYiuyS01V3NZQg004/pLXvttKPBm6duX8PCMa7Ht72G4gXdqNZpRUZuZdTRlCGOlNYmokz475XVVzaePghowMVZn5AGjJ2k+hsnYLqx9UHBgxT9Y8ypgcfkp7fbFUXZA6ENuqAXt1MS68SSfTdYEY0PSmCDm3nFLicz2yLawaGmxByQABd/tvdHsDKtRe5xVS6+c22kVM4nGfnjT8j5xZHXVCxvax2yDvUEogCZuitvVigZ70eloZY+feBjDaqcFrxOCpGyw55ritbRAmQ/eF70AYnvs5Q3F4ZUStIGSYAB1FAtUiUlXab3jqmDaWOvBg4c9tvkRMIx2uu06bg2375AE6oOAIGeQwX7TDYc7TkGPpmr7cW/gGGx4lTdveghkUZtVcQMaHFo9RcBZYP/eY/aBDww7nn6UEgsFoXeGOGEiqQ9BibUzEi8JqEyCgFD8tYse7cn0VN9CnXMr2GnVDtd8Q50uV6JrvgUhWkqBPx6mdQjSD6EZrHdYOkaUNBlrvqCXrfeg4YTAU9VPrSs9eUKEK2HBHkXC2TjcA=

language: python

python:
  - 3.6

install:
  - pip install coverage pytest-cov

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64> ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - "./cc-test-reporter before-build"

script:
  - pytest --cov=.

after_script:
  - "./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT"
